/* placeholder */

div.uploadStatus {
    background-color: ivory;
}

th.headline {
    background-color: lavender;
}

div.urlInputCont {
    background-color: #ffffe0;;
}

span.descrText a {
    color: navy;
}

a.publishDayLink {
	color: #800000;
}
